html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font: 14px/1.5 'Source Sans Pro', sans-serif;
}
nav {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.25em;
  max-width: 100%;
  text-align: inline-block;
  display: flex;
  flex-direction: row;
}
nav button,
nav input {
  height: 21px;
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 2em;
  height: 1.8em;
  background: none;
}
nav #reset {
  flex-grow: 1;
  padding: 0 0.75em;
  color: #999;
  opacity: 0.4;
  cursor: pointer;
}
nav #reset:hover {
  opacity: 1;
}
nav form {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
nav form input {
  flex-grow: 1;
  border: 1px solid #999;
  border-right: 0;
  padding: 0 0.25em;
}
nav form input:focus {
  background: #fff;
}
nav form button {
  flex-grow: 1;
  padding: 0 0.5em;
  border: 1px solid #999;
}
#user-overlay {
  box-shadow: 0 19px 38px rgba(0,0,0,0.3), 0 15px 12px rgba(0,0,0,0.22);
  position: absolute;
  bottom: 1em;
  left: 1em;
  max-width: 100%;
  width: 500px;
  background: #fff;
  border-radius: 2px;
}
#user-overlay h1.login {
  padding: 0.5em;
  border-bottom: 1px solid #eee;
  margin-top: 0;
}
canvas {
  background: #efefef;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#toast {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  max-width: 100%;
  padding: 0.5em;
  color: #fff;
  border-radius: 2px;
  transition: all 500ms;
}
#toast a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
@media (min-width: 500px) {
  #toast {
    margin: 5px;
    padding: 1em;
  }
}
#toast.success {
  background: #4caf50;
}
#toast.error {
  background: #f44336;
}
#toast.progress {
  background: #03a9f4;
}
.node {
  cursor: pointer;
}
.edge {
  stroke-width: 1;
  stroke: #000;
  opacity: 0.1;
}
