html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font: 14px/1.5 'Source Sans Pro', sans-serif;
}
input[type=text] {
  border: 1px solid #eee;
  border-radius: 2px;
  paddding: 0.5em;
}
nav {
  position: absolute;
  right: 1em;
  top: 1em;
  bottom: 1em;
  background: rgba(255,255,255,0.8);
  padding: 1em;
  max-width: 100%;
  width: 300px;
  z-index: 99;
  border: 2px solid #999;
  display: none;
}
svg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#toast {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  max-width: 100%;
  padding: 0.5em;
  color: #fff;
  border-radius: 2px;
  transition: all 500ms;
}
@media (min-width: 500px) {
  #toast {
    margin: 5px;
    padding: 1em;
  }
}
#toast.success {
  background: #4caf50;
}
#toast.error {
  background: #f44336;
}
.node {
  cursor: pointer;
}
.link {
  stroke: #999;
  opacity: 0.5;
}
