html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
input[type=text] {
  border: 1px solid #eee;
  border-radius: 2px;
  paddding: 0.5em;
}
svg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.node {
  cursor: pointer;
}
.link {
  stroke: #999;
  opacity: 0.5;
}
