html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: 14px/1.5 'Source Sans Pro', sans-serif;
}

nav {
  text-align: right;
  z-index: 99999;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.25em;
  
  #add, #reset {
    cursor: pointer;
    font-size: 2em;
    height: 1.8em;
    margin: 0;
    text-align: center;
  }
  
  #reset {
    width: 1.6em;
    margin-right: 0.2em;
    border: 0;
    opacity: 0.4;
    display: inline-block;
    
    &:hover {
      opacity: 1;
    }
  }
  
  form {
    display: inline-block;
    #username {
      margin: 0;
      padding: 0.1em;
      border: 1px solid #999;
      max-width: calc(100% - 1.8em - 1.8em);
      width: 100%;
      font-size: 2em;
      height: 1.8em;
      
      &:focus {
        outline: 0;
        border: 1px solid #03A9F4;
      }
    }
    
    #add {
      border: 1px solid #999;
      border-left: 0;
      padding: 0;
      background: none;
      width: 1.8em;
    }
  }

  // #reset {
  //   width: 3em;
  //   height: 3em;
  //   display: inline-block;
  //   cursor: pointer;
  //   border: 0;
  //   margin: 0;
  //   padding: 0;
    
  //   opacity: 0.5;
  //   font-size: 1em;
  //   line-height: 1;
    
  //   &:hover {
  //     opacity: 1;
  //   }
  // }
}


svg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#toast {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  max-width: 100%;
  padding: 0.5em;
  color: #fff;
  border-radius: 2px;
  transition: all 500ms;
  
  a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
  }
}

@media (min-width: 500px) {
  #toast {
    margin: 5px;
    padding: 1em;
  }
}

#toast.success { background: #4CAF50; }
#toast.error { background: #F44336; }
#toast.progress { background: #03A9F4; }

.node {
  cursor: pointer;
}

.edge {
  stroke-width: 1;
  stroke: #000;
  opacity: 0.1;
}